body {
    font-family: Montserrat;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.popup-container {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-top: 0px;
    color: #ff5a1d;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

label {
    font-size: 16px;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #000000;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 7px;
}

button {
    background-color: #ff5a1d;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: rgba(255, 68, 0, 0.867)
}

.output-box {
    width: 89%;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    word-wrap: break-word;
    background-image: linear-gradient(to left,white,white);
}
